@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  background-image: linear-gradient(to bottom right, #887870 30%, #c0ac90 70%);
}

.box {
  width: 85vw;
  max-height: 70vh;
  margin: 0 auto;
  background-color: rgb(221, 221, 221, 0.7);
  opacity: 0.9;
  box-shadow: 2px 2px 20px 0px #333;
}
.col-md {
  max-height: 70vh;
}

.card {
  max-height: 90%;
}

.card-body {
  overflow: auto;
}

.list-group-item:first-child:hover {
  border: 0 !important;
  background-color: transparent;
  text-decoration: underline;
  text-decoration-color: #007bff;
}

.list-group-item:hover {
  background-color: rgb(221, 221, 221, 0.5);
}

/* for scroll bars */
/* width */
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #aaa;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}
@media (max-width: 575px) {
}
