@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
}

.back {
  background: url("../img/back.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .overlay {
    background-color: rgb(170, 170, 170, 0.5);
    backdrop-filter: blur(2px);
  }
  .card {
    background-color: #ddd;
    opacity: 0.9;
    min-width: 40vw;
    padding: 0 2em;
    box-shadow: 2px 2px 50px 0px #333;

    .remember-me #remember {
      transform: scale(1.5);
    }
    .devam {
      border-radius: 10px;
    }
  }
}

.card h4 {
  cursor: default;
}

@media (max-width: 576px) {
  .card {
    padding: 0;
  }
}

@media (max-width: 470px) {
  .card {
    padding: 0 !important;
    .card-heder,
    .card-body,
    .card-footer {
      padding: 0 1.2em !important;
    }
  }
}
