@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  /* background-image: linear-gradient(to bottom right, #887870 30%, #c0ac90 70%); */
}

.box {
  width: 85vw;
  /* height: 70vh; */
  margin: auto;
  background-color: rgb(238, 238, 238, 0.5);
  opacity: 0.85;
  box-shadow: 1px 1px 8px 0px rgb(34, 34, 34, 0.7);
  transition: all 0.7s;
}

.box input {
  background-color: #fff;
}

.box .input-group-text,
.box input,
.lead {
  /* border: 1px solid #333; */
  background-color: #fff;
}
.box .input-group-text {
  font-weight: 800;
  font-size: 1.2em;
  padding: 0.5em;
}
.zor {
  font-weight: 500;
}

.box input::placeholder {
  color: #222;
}

.devam {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 80%; */
  color: #000 !important;
  border: 0px solid #000 !important;
  transition: all 0.5s;
  background-color: rgb(221, 221, 221, 0.5);
  border-radius: 10px;
  opacity: 0.8;
}

.devam-txt {
  font-weight: 900;
  font-size: 1.1em;
  padding: 0 2em;
  margin: 0 auto;
  transition: all 0.5s;
}

.devam:hover {
  opacity: 1;
  background-color: #ddd;
  border-radius: 5px;
  /* width: 100%; */
  transition: all 0.5s;
}

.devam:hover .devam-txt {
  transform: scale(1.15);
  transition: all 0.5s;
}

.resize {
  font-size: 3.5em;
  font-weight: 500;
  text-shadow: 1px 1px 0px #bbb;
  color: #000;
}

.box .resize {
  font-size: 2.5em;
  font-weight: 100 !important;
  text-shadow: 0;
}

footer {
  height: 10vh;
}

@media (max-width: 575px) {
  .resize {
    font-size: 2.5em;
  }
  .box .resize {
    font-size: 1.5em;
  }
  .devam span {
    font-size: 0.9em;
  }
  .box input {
    font-size: 1em;
  }
}

@media (max-width: 993px) {
  .bilgiler {
    margin-bottom: 3em;
  }
}
